/**
 * Styles for personality tool
 * @author CodeX Team
 */
:root {
    --grayText: #6e758a;
}

/**
 * Icon
 * ==========
 */
.cdx-personality-icon {
    display: inline-block;
    width: 13px;
    height: 32px;
    background-image: url(../../assets/toolbar-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.ce-toolbar__tools li:hover .cdx-personality-icon,
.ce-toolbar__tools .selected .cdx-personality-icon {
    background-image: url(../../assets/toolbar-icon-hover.svg);
}

/**
 * Holder
 * ==========
 */
.cdx-personality {
    background: #fff;
    border: 1px solid #e5e6ec;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    padding: 30px;
    margin: 0.7em 0;
}

/**
 * Inputs
 * ==========
 */
.cdx-personality input,
.cdx-personality__cite {
    outline: none;
    border: 0;
    border-radius: 3px;
    width: 75%;
    box-sizing: border-box;
}

/**
 * Name
 * ==========
 */
.cdx-personality__name {
    font-size: 16px;
    font-weight: 600;
}

/**
 * Description
 * ==========
 */
.cdx-personality__cite {
    font-size: 14px;
    margin: 10px 0;
}

.cdx-personality__cite p {
    margin: 0.5em 0;
}

/**
 * URL
 * ==========
 */
.cdx-personality__url {
    font-size: 11px;
    color: var(--grayText);
    letter-spacing: 0.1px;
    text-overflow: ellipsis;
}

/**
 * Photo
 * ==========
 */
.cdx-personality__photo {
    float: right;
    width: 70px;
    height: 70px;
    border-radius: 3px;
    background-color: #f6f6f9;
    background-image: url('../../assets/photo-placeholder.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    overflow: hidden;
}

.cdx-personality__photo:hover {
    opacity: 0.7;
}

.cdx-personality__photo img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    transition: filter 300ms ease-in;
}

.cdx-personality__photo--preview {
    filter: blur(2px) grayscale(1);
}

/**
 * Placeholders
 * ==========
 */
.cdx-personality {
    &__cite:empty::before {
        content: attr(data-placeholder);
        color: var(--grayText);
    }

    &__cite:focus::before {
        display: none;
    }

    & input::-moz-placeholder {
        color: var(--grayText) !important;
    }

    & input::-webkit-input-placeholder {
        color: var(--grayText) !important;
    }

    & input::placeholder {
        color: var(--grayText) !important;
    }
}
